.filters {
    background-color:white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

h3 {
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 10px;
    
}
h4 {
    font-weight: 400;
    font-size: 14px;

    margin-top: 4px;
    margin-bottom: 12px;
}
li {
    list-style: none;
    text-align: left;
}
button {
    font-size: 18px;
    color: #FFFFFF;

    background-color: #FF5A5F;
    height: 48px;
    width: 20%;

    border-style: none;
    border-radius: 4px;

    float: right;
    margin: 10px 20px 10px 0px;
}
button:hover {
        opacity: 90%;
}

.locations {
        display: inline-block;
        vertical-align: top;


        height: 100%;
        width: 25%;

        border-right:1px solid #DDDDDD;

}

.amenities {
        height: 100%;
        width: 25%;

        display: inline-block;
}

.amenities h3, h4, li {
            margin-left: 20px;
}

.locations h3, h4, li {
        margin-left: 20px;
}
.popover {
	display: none;
	position:relative;
	margin:0px;
	padding:0px;
	left:0px;
	top:22px;
}
.locations:hover ul {
    display: block;
    background-color: #DDDDDD;
    margin-top: -20px;
    padding: 10px 10px 15px 10px;
}
.amenities:hover ul {
    display: block;
    background-color: #DDDDDD;
    margin-top: -20px;
    padding: 10px 10px 15px 10px;
}
